<div class="component-container">
    <md-card>
        <md-card-title-group>
            <md-card-title>Reset Demo</md-card-title>
        </md-card-title-group>

        <md-card-content>
            <section>

               <div class="button-options">
                  <button md-button
                          md-raised-button color="primary"
                          (click)="reset()">
                     Create New Account
                  </button>
               </div>

            </section>

        </md-card-content>
    </md-card>
</div>
