.contract-design {
   width: 100%;
}

.control-bar {
   display: flex;
   flex-flow: row;
  .left {
     flex: 1
  }
  .right {
     margin-left: auto;
  }
}

.demo-tab-group {
   border: 1px solid #e0e0e0;
   .md-tab-header {
      background: #f9f9f9;
   }
   .md-tab-body {
      padding: 12px;
   }

   button, a {
      margin: 8px;
      text-transform: uppercase;
   }

   section {
      display: flex;
      align-items: center;
      background-color: #f7f7f7;
      margin: 8px;
   }

   p {
      padding: 5px 15px;
   }
}

.demo-card-container {
   display: flex;
   flex-flow: column nowrap;

   md-card {
      margin: 0 16px 16px 0;
      width: 700px;
   }

   img {
      background-color: gray;
   }

   .demo-basic-list md-grid-tile {
      background: rgba(0, 0, 0, 0.32);
   }
}

.card-container {
   display: flex;
   flex-flow: row wrap;
   layout-align: "start start"

}

.transaction-event {
   margin-bottom: 15px;
}
