.upload-card-container {
   display: flex;

   md-card {
      margin: 0 16px 16px 0;
      width: 700px;
   }

   section {
      display: flex;
      flex-flow: column;

      flex-grow: 1;

      md-input {
         margin-bottom: 20px;
      }

      button {
         width: 100px;
         margin-top: 15px;
      }
   }

   aside {
      flex-basis: 30%;
      flex-shrink: 1;
   }

   img {
      background-color: gray;
   }

   .demo-basic-list md-grid-tile {
      background: rgba(0, 0, 0, 0.32);
   }
}

