.uphold-card-container {
  display: flex;
  min-width: 600px;

  md-card-content {
    padding: 30px;
  }

  md-card {
    display: flex;
    flex-flow: column;
    flex-grow: 1;
    padding: 0;
    margin: 0;
  }

  main {
    display: flex;
    margin-bottom: 20px;
  }

  section {
    display: flex;
    flex-flow: column;

    flex-grow: 1;

    md-input {
      margin-bottom: 20px;
    }

    p-dropdown {
      margin-top: 10px;
      margin-bottom: 10px;
    }

    button {
      width: 100px;
      margin-top: 15px;
    }
  }

  aside {
    flex-basis: 30%;
    flex-shrink: 1;
  }

}

.demo-icons {
  font-size: 100%;
  height: inherit;
  vertical-align: top;
  width: inherit;
}

