<div class="component-container">
    <md-card>
        <md-card-title-group>
            <md-card-title>Issue an Asset</md-card-title>
        </md-card-title-group>

        <md-card-content>

            <section *ngIf="contract.state === INITIALISED || contract.state === ERROR">
                <p>Enter the details of the asset. Only the owner can control who will have access to these details.</p>
                <!--<md-input placeholder="Signature ID"
                          [(ngModel)]="header.owner.signatureId"
                          [disabled]="processing$ | async">
                </md-input>-->
                <md-input placeholder="Description of the asset"
                          [(ngModel)]="header.description"
                          [disabled]="processing$ | async">
                </md-input>

                <button md-button
                        md-raised-button color="primary"
                        [disabled]="processing$ | async"
                        (click)="newAsset()">
                    Next
                </button>

            </section>

            <section *ngFor="let status of contract.statusLog">
                <p>{{status}}</p>
            </section>

            <section *ngIf="contract.state === CREATED">
                <p>Add the issuance certificate below.</p>
                <p>This certificate is encrypted and protected with access control security.</p>
                <p>Only the owner of the asset controls access to the certificate.</p>

                <div class="button-options">
                    <button md-button
                            md-raised-button color="secondary"
                            [disabled]="processing$ | async"
                            (click)="cancel()">
                        Cancel
                    </button>
                    <button md-button
                            md-raised-button color="primary"
                            [disabled]="true"
                            (click)="sign()">
                        Sign
                    </button>
                </div>
            </section>

            <section *ngIf="contract.state === READY">
                <p>The contract is ready. Please click Sign to issue the asset.</p>
                <p>Note: Once the asset is signed, this transaction becomes a permanent record on the blockchain and cannot be modified or deleted.</p>
                <div class="button-options">
                    <button md-button
                            md-raised-button color="secondary"
                            [disabled]="processing$ | async"
                            (click)="cancel()">
                        Cancel
                    </button>
                    <button md-button
                            md-raised-button color="primary"
                            [disabled]="processing$ | async"
                            (click)="sign()">
                        Sign
                    </button>
                </div>
            </section>

            <section *ngIf="contract.state === SIGNING">
                <p>Issuing the asset on the blockchain...</p>
            </section>

            <section *ngIf="error">
                <p class="error">{{error}}</p>
            </section>


        </md-card-content>
        <md-card-footer>
            <md-progress-bar *ngIf="processing$ | async" mode="indeterminate"></md-progress-bar>
        </md-card-footer>
    </md-card>

    <md-card *ngIf="contract.state === CREATED || contract.state === READY">
        <md-card-title-group>
            <md-card-title>Certificate</md-card-title>
            <md-card-subtitle *ngIf="contract.termsAddr">Certificate Address: {{contract.termsAddr}}</md-card-subtitle>
        </md-card-title-group>

        <md-card-content>

            <section >

                <div *ngIf="contract.state === READY">
                    <p>Modify certificate:</p>
                </div>

                <div *ngIf="contract.state !== READY">
                    <p>Add the issuance certificate:</p>
                </div>

                <p-fileUpload #uploader name="files[]" url="{{termsUrl}}"
                              auto="true"
                              uploadLabel="xxx"
                              (onBeforeUpload)="beforeUpload($event)"
                              (onUpload)="uploadComplete($event)">
                    <template pTemplate type="content">
                        <div>
                            <div *ngIf="!termsFile">
                                <p>Drop the certificate file for the asset here.</p>
                            </div>

                            <div *ngIf="termsFile">{{termsFile.name}} - {{termsFileSize}}</div>
                        </div>

                    </template>
                </p-fileUpload>
            </section>
        </md-card-content>
        <md-card-footer>
            <md-progress-bar *ngIf="addingTerms" mode="indeterminate"></md-progress-bar>
        </md-card-footer>
    </md-card>
</div>
