.component-container{
  display: flex;
  flex-flow: column nowrap;

  align-items: center;
  justify-content: center;

  md-card {
    min-width: 600px;
  }

  md-card-content {
    display: flex;
    flex-direction: column;
  }

  main {
    display: flex;
    margin-bottom: 20px;
  }

  section {
    display: flex;
    flex-flow: column;

    flex-grow: 1;
  }
}

td {
  padding-right: 20px;
  padding-bottom: 5px;
}

.newContract {
  margin-bottom: 20px;
}

.error {
  color: #ff0000;
}

.button-options {
  display: flex;
  flex-direction: row;
  button {
    width: 130px;
    margin-left: 20px;
  }
}

