body {
  margin: 0;
  padding: 0;
  font: 14px Roboto,'Helvetica Neue',sans-seriff;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;

  background: #fafafa;
}

h1 {
  font-size: 20px;
}

.app-toolbar {
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
}

md-toolbar {
  font-size: 20px;
  font-weight: 400;
  font-family: Roboto,"Helvetica Neue",sans-serif;
  padding: 0 16px;
  flex-direction: column;
  min-height: 64px;
  background: #3f4f62;
  color: white;
}

md-toolbar,md-toolbar md-toolbar-row {
  display:flex;
  box-sizing:border-box;
  width:100%;
}

md-toolbar md-toolbar-row {
  flex-direction:row;
  align-items:center
}

md-toolbar-row{
  height:64px

}

@media (max-width: 600px) and (orientation: portrait) {
  md-toolbar {
    min-height: 56px
  }
  md-toolbar-row{
    height:56px}
}

@media (max-width:960px) and (orientation:landscape) {
  md-toolbar {
    min-height:48px
  }

  md-toolbar-row {
    height:48px

  }
}

@media all and (max-width: 400px) {
  .login-panel {
    max-width: 300px;
    position: relative;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
    0 10px 25px 0 rgba(0, 0, 0, 0.1);

    background: #ffffff;

    line-height: 1.4em;
    color: #4d4d4d;
    min-width: 230px;
    margin: 30px auto;
    padding: 30px 30px 20px 30px;
  }
}

@media all and (min-width: 401px) {
  .login-panel {
    max-width: 400px;
    position: relative;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
    0 10px 25px 0 rgba(0, 0, 0, 0.1);

    background: #ffffff;

    line-height: 1.4em;
    color: #4d4d4d;
    min-width: 230px;
    margin: 30px auto;
    padding: 30px 30px 20px 30px;
  }
}



.login-panel input::-webkit-input-placeholder {
  font-style: italic;
  font-weight: 300;
  color: #e6e6e6;
}

.login-panel input::-moz-placeholder {
  font-style: italic;
  font-weight: 300;
  color: #e6e6e6;
}

.login-panel input::input-placeholder {
  font-style: italic;
  font-weight: 300;
  color: #e6e6e6;
}

.login-panel h1 {
  width: 100%;
  text-align: center;
  margin: 0 0 25px 0;
}

#linkedIn-button {
  width: 292px;
  height: 40px;
  margin: auto;
}

#linkedIn-button button {
  width: 292px;
  height: 40px;
  background:transparent url('/assets/img/linkedIn-button-default.png') center top no-repeat;
}

#panel-intro {
  margin-bottom: 25px;
}

#test-network {
  color: red;
  text-align: center;
  margin: auto;
  font-size: 14px;
}

