<div class="component-container">
    <md-card>
        <md-card-title-group>
            <md-card-title>Hi {{profile.firstName}}</md-card-title>
        </md-card-title-group>

        <md-card-content>
            <section *ngIf="deviceRegistered">
                <p>You have have {{devices.length}} device(s) registered.</p>
                <button md-button
                        md-raised-button color="primary"
                        (click)="onRegisterDevice()">
                    View Devices
                </button>
            </section>

            <section *ngIf="!deviceRegistered">
                <p>You have not registered a device yet.</p>
                <button md-button
                        md-raised-button color="primary"
                        (click)="onRegisterDevice()">
                    Register Device
                </button>
            </section>
        </md-card-content>
    </md-card>
</div>
