<div class="component-container">
    <div class="card-container">
        <md-card>
            <md-card-title-group>
                <md-card-title *ngIf="!deviceRegistered">Content Publishing Example</md-card-title>
            </md-card-title-group>

            <md-card-content class="device-container">

                <p>Your account has been credited with 500 PHT for this demo.</p>

                <div class="balance-container">
                    <table>
                        <tr>
                            <td class="table-label"><b>Account:</b></td>
                            <td>{{device.defaultSignature.account}}</td>
                        </tr>
                        <tr>
                            <td class="table-label"><b>Balance:</b></td>
                            <td>{{device.balance | price}}</td>
                        </tr>
                    </table>
                </div>

                <div class="button-options">
                    <button md-button
                            md-raised-button color="primary"
                            [disabled]="processing$ | async"
                            (click)="publish()">
                        Publish Content
                    </button>
                </div>
            </md-card-content>
        </md-card>

        <md-card *ngIf="contents.length > 0" >
            <md-card-title-group>
                <md-card-title>Content</md-card-title>
                <md-card-subtitle></md-card-subtitle>
            </md-card-title-group>

            <md-card-content>
                <section>
                    <table class="content-table">
                        <thead>
                        <td><b>Title</b></td>
                        <td><b>Description</b></td>
                        <td><b>Price</b></td>
                        </thead>
                        <tr *ngFor="let c of contents">
                            <td>
                                <a class="link" (click)="getContent(c.contractAddr)">
                                    <p class="title">{{c.title}}</p>
                                </a>
                            </td>
                            <td>
                                <div>
                                    <p class="description">{{c.description}}</p>
                                </div>
                            </td>
                            <td class="price">{{c.price | price}}</td>
                        </tr>
                    </table>
                </section>
            </md-card-content>
            <md-card-footer>
                <md-progress-bar *ngIf="searching" mode="indeterminate"></md-progress-bar>
            </md-card-footer>
        </md-card>

        <md-card *ngIf="!device.lightClient">
            <md-card-title-group>
                <md-card-title>Blockchain Status</md-card-title>
            </md-card-title-group>

            <md-card-content class="status-container">
                <aside>
                    <table>
                        <tr>
                            <td>Network</td>
                            <td>{{network}}</td>
                        </tr>
                        <tr>
                            <td>Blockchain</td>
                            <td>{{blockchain}}</td>
                        </tr>
                        <tr>
                            <td>Consensus</td>
                            <td>Tendermint {{consensusVer}}</td>
                        </tr>
                        <tr *ngIf="!device.lightClient">
                            <td>Blocks</td>
                            <td>{{localHeight}}</td>
                        </tr>
                        <tr>
                            <td>Status</td>
                            <td>{{status}}</td>
                        </tr>
                    </table>
                </aside>
                <section>
                </section>
                <section>
                    <div class="chart-container">
                        <canvas id="blocks-remaining"></canvas>
                        <div *ngIf="!device.lightClient" class="caption">Sync {{percentSynced}}%</div>
                    </div>
                </section>
            </md-card-content>
        </md-card>
    </div>
</div>
