.component-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;


  .card-container {
    display: flex;
    flex-flow: column nowrap;


    md-card {
      margin: 0 16px 16px 0;
      min-width: 550px;
    }

    .device-container {
      display: flex;
      flex-direction: column;
    }

    .table-label {
      font-weight: bold;
      padding-right: 10px;
    }

    .balance-container {
      display: flex;
      flex-direction: row;
      margin-top: 15px;
      margin-bottom: 20px;
      background-color: #fffff0;
      padding: 5px;
    }

    .status-container {
      display: flex;
      flex-direction: row;
      margin-bottom: 20px;
    }

    section {
      display: flex;
      flex-flow: column;

      flex-grow: 1;

      button {
        width: 100px;
        margin-top: 15px;
      }

    }

    aside {
      flex-basis: 50%;
      flex-shrink: 1;
      td {
        padding-right: 10px;
        padding-bottom: 5px;
      }
    }
  }
}

.chart-container {
  width: 180px;
  height: 180px;
}
.caption {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -96px;
}

.synced {
  color: #4caf50;
  font-weight: bold;
}

.button-options {
  display: flex;
  flex-direction: row;
  button {
    width: 130px;
    margin-left: 20px;
  }
}

td {
  padding-right: 10px;
  padding-bottom: 5px;
}


.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}

.content-table {

  .title {
    @extend .ellipsis;
    width: 180px;
  }

  .description {
    @extend .ellipsis;
    width: 250px;
  }

  .price {
    @extend .ellipsis;
    width: 80px;
  }
}

.link {
  cursor: pointer;
  text-decoration: underline;
  color: #0d0def
}







