.demo-tab-group {
   border: 1px solid #e0e0e0;
   .md-tab-header {
      background: #f9f9f9;
   }
   .md-tab-body {
      padding: 12px;
   }

   button, a {
      margin: 8px;
      text-transform: uppercase;
   }

   section {
      display: flex;
      align-items: center;
      background-color: #f7f7f7;
      margin: 8px;
   }

   p {
      padding: 5px 15px;
   }
}



.demo-list-group {
   display: flex;
   flex-flow: row wrap;

   md-list, md-nav-list {
      border: 1px solid rgba(0, 0, 0, 0.12);
      width: 350px;
      margin: 20px 20px 0 0;

   }
   h2 {
      margin-top: 20px;
   }

   md-icon {
      color: rgba(0, 0, 0, 0.12);
   }

   [md-list-icon] {
      color: white;
      background: rgba(0, 0, 0, 0.3);
   }
}

.demo-secondary-text {
   color: rgba(0, 0, 0, 0.54);
}

.demo-card-container {
   display: flex;
   flex-flow: column nowrap;

   md-card {
      margin: 0 16px 16px 0;
      width: 700px;
   }

   img {
      background-color: gray;
   }
}
