<h1>Invoice Template Wizard</h1>

<md-tab-group class="demo-tab-group">
   <md-tab>
      <template md-tab-label>1. Contract</template>
      <template md-tab-content>
         <div *ngIf="!isSignedInToDocuSign">
            <p>Sign in</p>

            <a href="{{docusignUrl}}" md-raised-button md-button color="primary">DocuSign</a>

         </div>
         <div *ngIf="isSignedInToDocuSign">
            <p>Choose a Contract</p>

            <div class="demo-list-group">
               <md-nav-list>
                  <a md-list-item *ngFor="let link of links" href="#">
                     <md-icon md-list-icon>folder</md-icon>
                     <span md-line>{{ link.name }}</span>
                     <span md-line class="demo-secondary-text"> Description </span>
                  </a>
               </md-nav-list>
            </div>

         </div>
         <br>
         <br>
         <br>
         <br>
      </template>
   </md-tab>
   <md-tab>
      <template md-tab-label>2. Transactions</template>
      <template md-tab-content>
         <div class="demo-card-container">
            <md-card>
               <md-card-title-group>
                  <md-card-subtitle>Standard Transaction</md-card-subtitle>
                  <md-card-title>Transaction</md-card-title>
               </md-card-title-group>

               <md-card-content>
                  <transactions-editor #transactionsGrid (change)="transactionsGridChange($event)"></transactions-editor>
               </md-card-content>
            </md-card>
         </div>

         <div class="demo-card-container">
            <md-card>
               <md-card-title-group>
                  <md-card-subtitle>Standard Transaction</md-card-subtitle>
                  <md-card-title>Transaction</md-card-title>
               </md-card-title-group>

               <md-card-content>
                  <transactions-editor #transactionsGrid (change)="transactionsGridChange($event)"></transactions-editor>
               </md-card-content>
            </md-card>
         </div>
         <br>
         <br>
         <br>
         <br>
      </template>
   </md-tab>
   <md-tab>
      <template md-tab-label>3. Invoices</template>
      <template md-tab-content>
         <p>Invoice fields</p>
         <invoices-editor></invoices-editor>
         <br>
         <br>
         <br>
         <br>
         <br>
         <br>
      </template>
   </md-tab>
   <md-tab>
      <template md-tab-label>4. Rebates</template>
      <template md-tab-content>
         <p>Rebate fields</p>
         <br>
         <br>
         <br>
         <br>
         <br>
         <br>
      </template>
   </md-tab>

   <md-tab>
      <template md-tab-label>5. Review</template>
      <template md-tab-content>
         Review
         <br>
         <br>
         <button md-raised-button color="primary">Approve</button>
         <br>
         <br>
         <br>
         <br>
         <br>
      </template>
   </md-tab>
   <md-tab>
      <template md-tab-label>6. Sign</template>
      <template md-tab-content>
         Review
         <br>
         <br>
         <button md-raised-button color="primary">Sign</button>
         <br>
         <br>
         <br>
         <br>
         <br>
      </template>
   </md-tab>
</md-tab-group>
