<div class="register-container">
    <md-card>
        <md-card-title-group>
            <md-card-title>Device Key</md-card-title>
        </md-card-title-group>

        <md-card-content>
            <section>
                <p>Please paste your device's key below and give your device a name:</p>
                <md-input placeholder="Device key:"
                          [(ngModel)]="device.publicKey"
                          [disabled]="processing$ | async"
                >
                </md-input>
                <md-input placeholder="Device name:"
                          [(ngModel)]="device.name"
                          [disabled]="processing$ | async"
                >
                </md-input>
                <button md-button
                        md-raised-button color="primary"
                        [disabled]="processing$ | async"
                        (click)="onAdd()">
                    Add
                </button>
            </section>
        </md-card-content>
        <md-card-footer>
            <md-progress-bar *ngIf="processing$ | async" mode="indeterminate"></md-progress-bar>
        </md-card-footer>
    </md-card>

    <md-card *ngIf="devices.length > 0" >
        <md-card-title-group>
            <md-card-title>Devices</md-card-title>
            <md-card-subtitle></md-card-subtitle>
        </md-card-title-group>

        <md-card-content>
            <section>
                <table>
                    <thead>
                    <td><b>Name</b></td>
                    <td><b>Device Key</b></td>
                    <td><b>Date</b></td>
                    </thead>
                    <tr *ngFor="let d of devices">
                        <td>{{d.name}}</td>
                        <td>{{d.publicKey}}</td>
                        <td>{{d.createdAt | dateFormat:'DD MMM YYYY'}}</td>
                    </tr>
                </table>
            </section>
        </md-card-content>
    </md-card>
</div>
