<div class="component-container">
    <md-card>
        <md-card-title-group>
            <md-card-title>New signature</md-card-title>
            <md-card-subtitle></md-card-subtitle>
        </md-card-title-group>

        <md-card-content>
            <section>
                <p>
                    Create a signature here for signing a contract and identifying yourself.
                </p>
                <p>
                    Signatures should only be used once per contract.
                </p>
                <!--<md-input placeholder="signature name"
                          [(ngModel)]="signature.name"
                          [disabled]="processing$ | async">
                </md-input>
                <md-input placeholder="Signature description"
                          [(ngModel)]="signature.description"
                          [disabled]="processing$ | async">
                </md-input>-->
                <button md-button
                        md-raised-button color="primary"
                        [disabled]="processing$ | async"
                        (click)="create()">
                    Create
                </button>
            </section>
        </md-card-content>
        <md-card-footer>
            <md-progress-bar *ngIf="processing$ | async" mode="indeterminate"></md-progress-bar>
        </md-card-footer>
    </md-card>

    <md-card *ngIf="signatures.length > 0" id="signatures-grid">
        <md-card-title-group>
            <md-card-title>Signatures</md-card-title>
            <md-card-subtitle></md-card-subtitle>
        </md-card-title-group>

        <md-card-content>
            <section>
                <table>
                    <thead>
                        <td><b>Signature ID</b></td>
                        <!--<td><b>Name</b></td>
                        <td><b>Description</b></td>-->
                        <td><b>Type</b></td>
                        <td><b>Account</b></td>
                        <td><b>Created</b></td>
                    </thead>
                    <tr *ngFor="let signature of signatures">
                        <td>{{signature.signatureId}}</td>
                        <!--<td>
                            <div class="tooltip">
                                {{signature.name | elipsis: 15}}
                                <span class="tooltiptext">{{signature.name}}</span>
                            </div>
                        </td>
                        <td>
                            <div class="tooltip">
                                {{signature.description | elipsis: 15}}
                                <span class="tooltiptext">{{signature.description}}</span>
                            </div>
                        </td>-->
                        <td>{{signature.type}}</td>
                        <td>
                            <div class="tooltip">
                                {{signature.account}}
                                <span class="tooltiptext">{{signature.account}}</span>
                            </div>
                        </td>
                        <td>{{signature.createdAt | dateFormat:'DD MMM YYYY'}}</td>
                    </tr>
                </table>
            </section>
        </md-card-content>
    </md-card>
</div>
