<div class="login-container">
  <md-card>
    <md-card-title-group>
      <md-card-title>Login</md-card-title>
    </md-card-title-group>

    <md-card-content>

      <md-input placeholder="Email"
                [ngModel]="email">
      </md-input>

      <md-input placeholder="Password"
                [ngModel]="password"
                type="password">
      </md-input>

      <section>
        <button md-button
                [disabled]="logging_in || !valid"
                md-raised-button color="primary"
                (click)="isClickedOnce = true; executeTransaction()">
          Login
        </button>
      </section>
    </md-card-content>
  </md-card>
</div>
