<div class="component-container">
    <md-card>
        <md-card-title-group>
            <md-card-title>My Library</md-card-title>
        </md-card-title-group>
        <md-card-content class="content">
            <section *ngIf="contracts.length == 0">
                You currently do not have any contracts to view.
            </section>
            <section *ngIf="contracts.length > 0">
                <table>
                    <thead>
                    <td><b>Title</b></td>
                    <td><b>Type</b></td>
                    <td><b>Date</b></td>
                    </thead>
                    <tr *ngFor="let c of contracts">
                        <td><a [routerLink]="[c.metaAddr]">{{c.description}}</a></td>
                        <td>{{c.meta.name}}</td>
                        <td>{{c.meta.createdAt | dateFormat}}</td>
                    </tr>
                </table>
            </section>
        </md-card-content>
        <md-card-footer>
            <md-progress-bar *ngIf="processing$ | async" mode="indeterminate"></md-progress-bar>
        </md-card-footer>
    </md-card>
</div>
